pandas
langchain
faiss-cpu
sentence-transformers
langchain-google-genai
google-generativeai
langchain
langchain-community
langchain-huggingface 
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
streamlit==1.27.2
